<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <nav class="navflex">
        <div class="title"><a class="navitems" href="@{/}">Snighda</a></div>
    
        <div class="navi">
            <a class="navitems" href="@{/doctors}">Doctors</a>
            <a class="navitems" href="@{/patients}">Patients</a>
            <a class="navitems" href="@{/appointments}">Appointments</a>
        </div>
    </nav>
    
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <th th:text="${appointment.id}">1</th>
        <th th:text="${appointment.pid}">1</th>
        <th th:text="${appointment.did}">1</th>
        <th th:text="${appointment.date}">1</th>
        <th th:text="${appointment.mode}">1</th>
    </tr>
    </tbody>
</table>

</body>
</html>